body {
    background-image: url("../pacote-d013/pacote-d013/imagens/fundo-madeira.jpg");
    background-size: 100vw 100vh;
}

main > img {
    display: inline-block;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: right;
}

ul > li {
    padding: 10px;
}

ul > li > a > img {
    border-radius: 50%;
    height: 50px;
    display: block;
}